#Recommendation of Hotels based on your Budget

#Importing libraries

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

#Importing Dataset

In [ ]:
hotels = pd.read_csv('/content/Hotels.csv')

In [ ]:
hotels.head()

,HID,HOTEL,PRICE_RUPEES,NUMBER_OF_REVIEWS,Lat,Lng
0,HID1,HOTEL ANURAAG VILLA JAIPUR,898.92,1305,26.927230,75.789207
1,HID2,HILTON JAIPUR,2771.67,4358,26.973697,75.844382
2,HID3,"TRIDENT, JAIPUR",4120.05,499,26.957344,75.842886
3,HID4,THE FERN RESIDENCY JAIPUR,2172.39,278,26.874359,75.816421
4,HID5,"ITC RAJPUTANA, JAIPUR A LUXURY COLLECTION HOTE...",3221.13,6189,26.919313,75.791175

#Data Preprocessing

In [ ]:
hotels.isna().sum()

HID                  0
HOTEL                0
PRICE_RUPEES         0
NUMBER_OF_REVIEWS    0
Lat                  0
Lng                  0
dtype: int64

Interpretation:There are no missing values in our dataset

In [ ]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   HID                254 non-null    object
 1   HOTEL              254 non-null    object
 2   PRICE_RUPEES       254 non-null    float64
 3   NUMBER_OF_REVIEWS  254 non-null    int64
 4   Lat                254 non-null    float64
 5   Lng                254 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 12.0+ KB

In [ ]:
hotels.describe()

        PRICE_RUPEES  NUMBER_OF_REVIEWS         Lat         Lng
count     254.000000         254.000000  254.000000  254.000000
mean     2983.149803         540.582677   26.914314   75.800445
std      7420.243135         863.444151    0.043156    0.042395
min       150.000000           1.000000   26.767485   75.590469
25%      1123.650000          88.500000   26.902572   75.789400
50%      1797.840000         212.000000   26.919133   75.796085
75%      2846.580000         549.250000   26.928681   75.810282
max    112365.000000        6189.000000   27.066656   76.146076

#Recommendation Based on your Budget

In [ ]:
hotels.loc[hotels['PRICE_RUPEES'] <500, 'HOTEL']

117                  HOTEL BHARAT PALACE JAIPUR
147                HOTEL GOLDEN HERITAGE JAIPUR
148                      BANI PARK HOTEL JAIPUR
150                 HOUSE OF BACKPACKERS JAIPUR
170                         NANUS HOSTEL JAIPUR
192                JAIPUR SUNDECK HOSTEL JAIPUR
204    CHITCHAT RESTAURANT & GUEST HOUSE JAIPUR
252                        THE HOSTELLER JAIPUR
253                               HOZTEL JAIPUR
Name: HOTEL, dtype: object

In [ ]:
hotels.loc[hotels['PRICE_RUPEES'] >=1000, 'HOTEL']

1                                          HILTON JAIPUR
2                                        TRIDENT, JAIPUR
3                              THE FERN RESIDENCY JAIPUR
4      ITC RAJPUTANA, JAIPUR A LUXURY COLLECTION HOTE...
5                  HOLIDAY INN JAIPUR CITY CENTRE JAIPUR
                             ...
246                                   HOTEL SAVOY JAIPUR
247                          HOTEL JAI MAA PALACE JAIPUR
248                               THE PRIME HOTEL JAIPUR
249                          COMFORT INN SAPPHIRE JAIPUR
251                            GIRISADAN HOMESTAY JAIPUR
Name: HOTEL, Length: 202, dtype: object

In [ ]:
hotels.loc[hotels['PRICE_RUPEES'] <500, 'HOTEL']

117                  HOTEL BHARAT PALACE JAIPUR
147                HOTEL GOLDEN HERITAGE JAIPUR
148                      BANI PARK HOTEL JAIPUR
150                 HOUSE OF BACKPACKERS JAIPUR
170                         NANUS HOSTEL JAIPUR
192                JAIPUR SUNDECK HOSTEL JAIPUR
204    CHITCHAT RESTAURANT & GUEST HOUSE JAIPUR
252                        THE HOSTELLER JAIPUR
253                               HOZTEL JAIPUR
Name: HOTEL, dtype: object

In [ ]:
hotels.loc[hotels['PRICE_RUPEES'] >=100000, 'HOTEL']

206    UMAID FARM RESORT-A LEGACY VINTAGE STAY IN JAIPUR
Name: HOTEL, dtype: object